<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>icontype</key>
		<string>t</string>
		<key>x</key>
		<string>239</string>
		<key>y</key>
		<string>835</string>
	</dict>
	<key>2</key>
	<dict>
		<key>icontype</key>
		<string>t</string>
		<key>x</key>
		<string>122</string>
		<key>y</key>
		<string>958.5</string>
	</dict>
	<key>3</key>
	<dict>
		<key>icontype</key>
		<string>t</string>
		<key>x</key>
		<string>363</string>
		<key>y</key>
		<string>785.5</string>
	</dict>
	<key>Chameleon, Vaduz</key>
	<dict>
		<key>icontype</key>
		<string>t</string>
		<key>x</key>
		<string>237</string>
		<key>y</key>
		<string>680.5</string>
	</dict>
	<key>5</key>
	<dict>
		<key>icontype</key>
		<string>t</string>
		<key>x</key>
		<string>159</string>
		<key>y</key>
		<string>461</string>
	</dict>
	<key>6</key>
	<dict>
		<key>icontype</key>
		<string>t</string>
		<key>x</key>
		<string>277</string>
		<key>y</key>
		<string>314</string>
	</dict>
	<key>7</key>
	<dict>
		<key>icontype</key>
		<string>t</string>
		<key>x</key>
		<string>207</string>
		<key>y</key>
		<string>283.5</string>
	</dict>
	<key>8</key>
	<dict>
		<key>icontype</key>
		<string>t</string>
		<key>x</key>
		<string>257</string>
		<key>y</key>
		<string>408</string>
		<key>global</key>
		<true/>
	</dict>
	<key>9</key>
	<dict>
		<key>icontype</key>
		<string>t</string>
		<key>x</key>
		<string>318</string>
		<key>y</key>
		<string>218.5</string>
		<key>global</key>
		<true/>
	</dict>
	<key>10</key>
	<dict>
		<key>icontype</key>
		<string>t</string>
		<key>x</key>
		<string>175</string>
		<key>y</key>
		<string>201.5</string>
	</dict>
	<key>11</key>
	<dict>
		<key>icontype</key>
		<string>t</string>
		<key>x</key>
		<string>265</string>
		<key>y</key>
		<string>153.5</string>
	</dict>
	<key>12</key>
	<dict>
		<key>icontype</key>
		<string>t</string>
		<key>x</key>
		<string>250</string>
		<key>y</key>
		<string>87.5</string>
	</dict>
	<key>13</key>
	<dict>
		<key>icontype</key>
		<string>o</string>
		<key>x</key>
		<string>190</string>
		<key>y</key>
		<string>941</string>
	</dict>
	<key>14</key>
	<dict>
		<key>icontype</key>
		<string>o</string>
		<key>x</key>
		<string>159</string>
		<key>y</key>
		<string>393</string>
		<key>global</key>
		<true/>
	</dict>
	<key>15</key>
	<dict>
		<key>icontype</key>
		<string>o</string>
		<key>x</key>
		<string>202</string>
		<key>y</key>
		<string>136</string>
	</dict>
</dict>
</plist>
